{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Online Library</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">My Books</a>
                        <a class="dropdown-item" href="/catalog/">View Catalog</a>
                        <a class="dropdown-item" href="/books/">View Internal Books</a>
                        <a class="dropdown-item" href="/logout/">Log Out</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        {% if not user.is_authenticated %}

            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url "app:login" %}">
                 {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ion-person"></i></span>
                    <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" aria-label="Search">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="ion-lock-combination"></i></span>
                    <input id="password" type="password" class="form-control mr-sm-2" name="password" value=""
                           placeholder="Password">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
            </form>

            <div class="btn-toolbar">
                <a class="btn btn-outline-primary my-2 my-sm-0" href="/createaccount/" style="margin-left:3px;"> Create
                    Account</a>
            </div>
        {% endif %}

    </div>
</nav>

<main role="main">
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</main>

<footer class="container">
    <p>&copy; Matthew Corbett 2017</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>