{% extends "app/base.html" %}

{% block content %}
    <div id="bookList">
    <h1>
        Books
    </h1>
    {% if books %}
        <table class="table table-bordered table-striped" id="bookTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">
                        <a class="btn btn-outline-primary my-2 my-sm-0" href="/books/{{ book.id }}/">{{ book.id }}</a>
                    </th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    {% else %}
        <p>No books are available.</p>
    {% endif %}
    </div>
{% endblock %}