{% extends "app/base.html" %}

{% block content %}
    <div id="bookList">
        <br>
        <h1>
            External Catalog
        </h1>
        <br>
        <form method="POST" action="{% url "app:catalog" %}">
            {% csrf_token %}
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="searchBoxString" placeholder="Search for..." aria-label="Search"
                       aria-describedby="sizing-addon1">
                <span class="input-group-btn" id="sizing-addon1">
                        <button class="btn btn-outline-info" type="submit">
                                <span class="ion-search"></span>
                        </button>
                </span>
            </div>
        </form>
        <br>
        <table class="table table-bordered table-striped" id="bookTable">
            <thead>
            <tr>
                <th scope="col">Checkout</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Subject</th>
                <th scope="col">Publisher</th>
            </tr>
            </thead>
            <tbody>
            {% for catalogBook in catalogBooks %}
                <tr>
                    <th scope="row">
                        <a class="btn btn-outline-primary my-2 my-sm-0"
                           href="{% url 'app:checkout_confirm' %}?title={{ catalogBook.title }}&author={{ catalogBook.author }}&subject={{ catalogBook.subject }}&publisher={{ catalogBook.publisher }}">
                            Check Out
                        </a>
                    </th>
                    <td>{{ catalogBook.title }}</td>
                    <td>{{ catalogBook.author }}</td>
                    <td>{{ catalogBook.subject }}</td>
                    <td>{{ catalogBook.publisher }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}