{% extends "app/base.html" %}

{% block content %}
    <div id="bookList">
    <h1>
        External Catalog
    </h1>
        <table class="table table-bordered table-striped" id="bookTable">
            <thead>
            <tr>
                <th scope="col">Checkout</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
            </tr>
            </thead>
            <tbody>
            {% for catalogBook in catalogBooks %}
                <tr>
                    <th scope="row">
                        <a class="btn btn-outline-primary my-2 my-sm-0" href="/catalog/checkout/">Check Out</a>
                    </th>
                    <td>{{ catalogBook.title }}</td>
                    <td>{{ catalogBook.author }}</td>
                    <td>{{ catalogBook.subject }}</td>
                    <td>{{ catalogBook.publisher }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}