{% extends "app/base.html" %}

{% block content %}
    <div class="center">
        <h2>Sign up</h2>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey"></small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: #ff484d">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="btn btn-outline-success" type="submit">Sign up</button>
            </form>
            <div class="form-group">

            </div>
{% endblock %}