/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 3.5rem;
}
#bookList {
    margin: auto;
    width: 70%;
    padding: 10px;
}
.checkOutForm {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
